<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartamentos Disponíveis em Parnaíba</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body class="bg-gray-100">
    {% include 'header.html' %}
 
    <div class="container mx-auto p-6">
        {% if session['user_type'] == 'dono' %}
        <div class="text-center mb-4">
            <a href="{{ url_for('cadastro') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Cadastrar Novo Apartamento</a>
            <a href="{{ url_for('cadastro') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Meus imóveis cadastrados</a>
        </div>
        {% endif %}

        <div id="map"></div>

        {% include 'filtro.html' %}

        <script>
             var apartamentos = {{ apartamentos|tojson }};
    
    var map = L.map('map');

    // Ícone do usuário
    var userIcon = L.icon({
        iconUrl: '/static/img/user-icon.png',
        iconSize: [60, 60],
        iconAnchor: [30, 60],
        popupAnchor: [0, -60]
    });

    // Ícone dos apartamentos
    var apartmentIcon = L.icon({
        iconUrl: '/static/img/apartment-disponivel-1.png',
        iconSize: [40, 40],
        iconAnchor: [20, 40],
        popupAnchor: [0, -40]
    });

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var userLocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };

            map.setView([userLocation.lat, userLocation.lng], 13);

            // Adiciona marcador do usuário com ícone personalizado
            L.marker([userLocation.lat, userLocation.lng], { icon: userIcon }).addTo(map)
                .bindPopup("Você está aqui!").openPopup();
        }, function(error) {
            console.error("Erro ao obter a localização: ", error);
            map.setView([-5.0917, -42.8012], 13);
        });
    } else {
        map.setView([-5.0917, -42.8012], 13);
    }

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Adiciona marcadores dos apartamentos com ícone personalizado
    apartamentos.forEach(function(apartamento) {
        L.marker([apartamento.latitude, apartamento.longitude], { icon: apartmentIcon }).addTo(map)
            .bindPopup("<b>" + apartamento.nome + "</b><br>" + apartamento.descricao);
    });
        </script>
    </div>
</body>
</html>
